/* styles.css */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 100% !important;
}

.conteudo-inicial {
  background-color: #ffffff !important;
}

.celula-numero-linha {
  color: #000000 !important;
  background-color: #818181 !important;
  text-align: right;
}

.celula-registro {
  padding: 0px 10px;
  white-space: pre;
}

#conteudoColorido {
  font-family: consolas, 'Courier New', monospace;
  letter-spacing: 2px;
  margin: 10px;
  padding: 10px;
}



.tooltip-descricao {
  position: absolute;
  background-color: var(--bs-secondary-color);
  color: var(--bs-secondary-bg);
  padding: 5px;
  padding-right: 3px;
  border-radius: 4px;
  z-index: 9999;
}

.tooltip-icon-descricao {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  background-color: var(--bs-secondary-bg);
  color: var(--bs-secondary-color);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.tooltip-target {
  background-color: #ffff00;
  color: #000000 !important;
}

.tooltip-icon {
  display: inline-block;
}



.modal-content {
  color: var(--bs-dark-text-emphasis);
}


/* template css */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* --------------------- */

.form-control:disabled {
  background-color: var(--bs-body-bg);
  opacity: 1;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus,
.btn:focus {
  /* border-color: var(--bs-body-color) !important; */
  border: 1px solid var(--bs-primary);
  box-shadow: 0 0 0 0.10rem rgba(13, 110, 253, 0.25);
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-32 {
  width: 32px;
  height: 32px;
}

.icon-36 {
  width: 36px;
  height: 36px;
}

.icon-48 {
  width: 48px;
  height: 48px;
}

.icon-logomarca {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%230d6efd' d='M33.914 413.612h149.55v27.595H27.494c-26.348 0-34.136-13.194-21.729-34.31L137.91 187.753V61.975h-26.075c-19.504 0-19.504-27.595 0-27.595h189.93c19.505 0 19.505 27.595 0 27.595H275.69v132.828h-27.963V61.975h-81.854v132.828zm135.6-169.187L84.692 386.574h70.601l104.375-112.907l-15.582-29.242zm145.996 9.783L209.5 367.506l106.01 110.286l33.538-33.538l-80.65-76.748l80.65-79.76zm56.943 33.537l80.65 79.76l-80.65 76.75l33.538 33.537L512 367.506L405.99 254.208z'/%3E%3C/svg%3E");
}

.icon-logo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23cccccc' d='M33.914 413.612h149.55v27.595H27.494c-26.348 0-34.136-13.194-21.729-34.31L137.91 187.753V61.975h-26.075c-19.504 0-19.504-27.595 0-27.595h189.93c19.505 0 19.505 27.595 0 27.595H275.69v132.828h-27.963V61.975h-81.854v132.828zm135.6-169.187L84.692 386.574h70.601l104.375-112.907l-15.582-29.242zm145.996 9.783L209.5 367.506l106.01 110.286l33.538-33.538l-80.65-76.748l80.65-79.76zm56.943 33.537l80.65 79.76l-80.65 76.75l33.538 33.537L512 367.506L405.99 254.208z'/%3E%3C/svg%3E");
}

.icon-logo:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%230d6efd' d='M33.914 413.612h149.55v27.595H27.494c-26.348 0-34.136-13.194-21.729-34.31L137.91 187.753V61.975h-26.075c-19.504 0-19.504-27.595 0-27.595h189.93c19.505 0 19.505 27.595 0 27.595H275.69v132.828h-27.963V61.975h-81.854v132.828zm135.6-169.187L84.692 386.574h70.601l104.375-112.907l-15.582-29.242zm145.996 9.783L209.5 367.506l106.01 110.286l33.538-33.538l-80.65-76.748l80.65-79.76zm56.943 33.537l80.65 79.76l-80.65 76.75l33.538 33.537L512 367.506L405.99 254.208z'/%3E%3C/svg%3E");
}

.icon-github {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 15 15'%3E%3Cpath fill='%23cccccc' fill-rule='evenodd' d='M7.5.25a7.25 7.25 0 0 0-2.292 14.13c.363.066.495-.158.495-.35c0-.172-.006-.628-.01-1.233c-2.016.438-2.442-.972-2.442-.972c-.33-.838-.805-1.06-.805-1.06c-.658-.45.05-.441.05-.441c.728.051 1.11.747 1.11.747c.647 1.108 1.697.788 2.11.602c.066-.468.254-.788.46-.969c-1.61-.183-3.302-.805-3.302-3.583a2.8 2.8 0 0 1 .747-1.945c-.075-.184-.324-.92.07-1.92c0 0 .61-.194 1.994.744A7 7 0 0 1 7.5 3.756A7 7 0 0 1 9.315 4c1.384-.938 1.992-.743 1.992-.743c.396.998.147 1.735.072 1.919c.465.507.745 1.153.745 1.945c0 2.785-1.695 3.398-3.31 3.577c.26.224.492.667.492 1.343c0 .97-.009 1.751-.009 1.989c0 .194.131.42.499.349A7.25 7.25 0 0 0 7.499.25' clip-rule='evenodd'/%3E%3C/svg%3E")
}
.icon-github:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 15 15'%3E%3Cpath fill='%23181616' fill-rule='evenodd' d='M7.5.25a7.25 7.25 0 0 0-2.292 14.13c.363.066.495-.158.495-.35c0-.172-.006-.628-.01-1.233c-2.016.438-2.442-.972-2.442-.972c-.33-.838-.805-1.06-.805-1.06c-.658-.45.05-.441.05-.441c.728.051 1.11.747 1.11.747c.647 1.108 1.697.788 2.11.602c.066-.468.254-.788.46-.969c-1.61-.183-3.302-.805-3.302-3.583a2.8 2.8 0 0 1 .747-1.945c-.075-.184-.324-.92.07-1.92c0 0 .61-.194 1.994.744A7 7 0 0 1 7.5 3.756A7 7 0 0 1 9.315 4c1.384-.938 1.992-.743 1.992-.743c.396.998.147 1.735.072 1.919c.465.507.745 1.153.745 1.945c0 2.785-1.695 3.398-3.31 3.577c.26.224.492.667.492 1.343c0 .97-.009 1.751-.009 1.989c0 .194.131.42.499.349A7.25 7.25 0 0 0 7.499.25' clip-rule='evenodd'/%3E%3C/svg%3E")
}

.icon-suggestion {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23cccccc' d='M208 464h96v32h-96zm-16-48h128v32H192zM369.42 62.69C339.35 32.58 299.07 16 256 16A159.62 159.62 0 0 0 96 176c0 46.62 17.87 90.23 49 119.64l4.36 4.09C167.37 316.57 192 339.64 192 360v40h48V269.11L195.72 244L214 217.72L256 240l41.29-22.39l19.1 25.68l-44.39 26V400h48v-40c0-19.88 24.36-42.93 42.15-59.77l4.91-4.66C399.08 265 416 223.61 416 176a159.16 159.16 0 0 0-46.58-113.31'/%3E%3C/svg%3E");
}

.icon-suggestion:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffcf32' d='M208 464h96v32h-96zm-16-48h128v32H192zM369.42 62.69C339.35 32.58 299.07 16 256 16A159.62 159.62 0 0 0 96 176c0 46.62 17.87 90.23 49 119.64l4.36 4.09C167.37 316.57 192 339.64 192 360v40h48V269.11L195.72 244L214 217.72L256 240l41.29-22.39l19.1 25.68l-44.39 26V400h48v-40c0-19.88 24.36-42.93 42.15-59.77l4.91-4.66C399.08 265 416 223.61 416 176a159.16 159.16 0 0 0-46.58-113.31'/%3E%3C/svg%3E");
}

.icon-star {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23cccccc' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z'/%3E%3C/svg%3E");
}

.icon-star:hover {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23ffcf32' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z'/%3E%3C/svg%3E");
}

.icon-warning {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23888888' d='M19.59 15.86L12.007 1.924C11.515 1.011 10.779.5 9.989.5c-.79 0-1.515.521-2.016 1.434L.409 15.861c-.49.901-.544 1.825-.138 2.53c.405.707 1.216 1.109 2.219 1.109h15.02c1.003 0 1.814-.402 2.22-1.108c.405-.706.351-1.619-.14-2.531M10 4.857c.395 0 .715.326.715.728v6.583c0 .402-.32.728-.715.728a.721.721 0 0 1-.715-.728V5.584c0-.391.32-.728.715-.728m0 11.624c-.619 0-1.11-.51-1.11-1.14c0-.63.502-1.141 1.11-1.141c.619 0 1.11.51 1.11 1.14c0 .63-.502 1.141-1.11 1.141'/%3E%3C/svg%3E");
}

.icon-warning:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23ffcf32' d='M19.59 15.86L12.007 1.924C11.515 1.011 10.779.5 9.989.5c-.79 0-1.515.521-2.016 1.434L.409 15.861c-.49.901-.544 1.825-.138 2.53c.405.707 1.216 1.109 2.219 1.109h15.02c1.003 0 1.814-.402 2.22-1.108c.405-.706.351-1.619-.14-2.531M10 4.857c.395 0 .715.326.715.728v6.583c0 .402-.32.728-.715.728a.721.721 0 0 1-.715-.728V5.584c0-.391.32-.728.715-.728m0 11.624c-.619 0-1.11-.51-1.11-1.14c0-.63.502-1.141 1.11-1.141c.619 0 1.11.51 1.11 1.14c0 .63-.502 1.141-1.11 1.141'/%3E%3C/svg%3E");
}

.icon-info {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23888888' d='m14.234 16.014l.554-1.104c.808-1.61.897-3.228.253-4.552a3.93 3.93 0 0 0-.443-.693A4.005 4.005 0 0 0 17 6.001c0-2.206-1.794-4-4-4s-4 1.794-4 4c0 .783.234 1.508.624 2.126c-1.696.33-2.806 1.248-2.947 1.375a1.997 1.997 0 0 0 1.089 3.484l-.554 1.104c-.808 1.61-.897 3.228-.254 4.552c.565 1.164 1.621 1.955 2.972 2.229c.413.084.836.127 1.254.127c2.368 0 3.965-1.347 4.14-1.501a1.996 1.996 0 0 0-1.09-3.483M13 4.001a2 2 0 1 1-.001 4.001A2 2 0 0 1 13 4.001M11.184 19c-.271 0-.559-.025-.854-.087c-1.642-.334-2.328-1.933-1.328-3.927l1-1.995c.5-.996.47-1.63-.108-2.035c-.181-.125-.431-.169-.689-.169c-.577 0-1.201.214-1.201.214S9.137 10 10.816 10c.271 0 .56.025.856.087c1.64.334 2.328 1.933 1.328 3.927l-1 1.993c-.5.998-.472 1.632.106 2.035c.181.126.433.169.692.169c.577 0 1.2-.212 1.2-.212S12.865 19 11.184 19'/%3E%3C/svg%3E");
}

.icon-info-blink {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f37b23' d='m14.234 16.014l.554-1.104c.808-1.61.897-3.228.253-4.552a3.93 3.93 0 0 0-.443-.693A4.005 4.005 0 0 0 17 6.001c0-2.206-1.794-4-4-4s-4 1.794-4 4c0 .783.234 1.508.624 2.126c-1.696.33-2.806 1.248-2.947 1.375a1.997 1.997 0 0 0 1.089 3.484l-.554 1.104c-.808 1.61-.897 3.228-.254 4.552c.565 1.164 1.621 1.955 2.972 2.229c.413.084.836.127 1.254.127c2.368 0 3.965-1.347 4.14-1.501a1.996 1.996 0 0 0-1.09-3.483M13 4.001a2 2 0 1 1-.001 4.001A2 2 0 0 1 13 4.001M11.184 19c-.271 0-.559-.025-.854-.087c-1.642-.334-2.328-1.933-1.328-3.927l1-1.995c.5-.996.47-1.63-.108-2.035c-.181-.125-.431-.169-.689-.169c-.577 0-1.201.214-1.201.214S9.137 10 10.816 10c.271 0 .56.025.856.087c1.64.334 2.328 1.933 1.328 3.927l-1 1.993c-.5.998-.472 1.632.106 2.035c.181.126.433.169.692.169c.577 0 1.2-.212 1.2-.212S12.865 19 11.184 19'/%3E%3C/svg%3E");
}

@keyframes blink-animation {
  0%,100% {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23888888' d='m14.234 16.014l.554-1.104c.808-1.61.897-3.228.253-4.552a3.93 3.93 0 0 0-.443-.693A4.005 4.005 0 0 0 17 6.001c0-2.206-1.794-4-4-4s-4 1.794-4 4c0 .783.234 1.508.624 2.126c-1.696.33-2.806 1.248-2.947 1.375a1.997 1.997 0 0 0 1.089 3.484l-.554 1.104c-.808 1.61-.897 3.228-.254 4.552c.565 1.164 1.621 1.955 2.972 2.229c.413.084.836.127 1.254.127c2.368 0 3.965-1.347 4.14-1.501a1.996 1.996 0 0 0-1.09-3.483M13 4.001a2 2 0 1 1-.001 4.001A2 2 0 0 1 13 4.001M11.184 19c-.271 0-.559-.025-.854-.087c-1.642-.334-2.328-1.933-1.328-3.927l1-1.995c.5-.996.47-1.63-.108-2.035c-.181-.125-.431-.169-.689-.169c-.577 0-1.201.214-1.201.214S9.137 10 10.816 10c.271 0 .56.025.856.087c1.64.334 2.328 1.933 1.328 3.927l-1 1.993c-.5.998-.472 1.632.106 2.035c.181.126.433.169.692.169c.577 0 1.2-.212 1.2-.212S12.865 19 11.184 19'/%3E%3C/svg%3E");
  }
  50% {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f37b23' d='m14.234 16.014l.554-1.104c.808-1.61.897-3.228.253-4.552a3.93 3.93 0 0 0-.443-.693A4.005 4.005 0 0 0 17 6.001c0-2.206-1.794-4-4-4s-4 1.794-4 4c0 .783.234 1.508.624 2.126c-1.696.33-2.806 1.248-2.947 1.375a1.997 1.997 0 0 0 1.089 3.484l-.554 1.104c-.808 1.61-.897 3.228-.254 4.552c.565 1.164 1.621 1.955 2.972 2.229c.413.084.836.127 1.254.127c2.368 0 3.965-1.347 4.14-1.501a1.996 1.996 0 0 0-1.09-3.483M13 4.001a2 2 0 1 1-.001 4.001A2 2 0 0 1 13 4.001M11.184 19c-.271 0-.559-.025-.854-.087c-1.642-.334-2.328-1.933-1.328-3.927l1-1.995c.5-.996.47-1.63-.108-2.035c-.181-.125-.431-.169-.689-.169c-.577 0-1.201.214-1.201.214S9.137 10 10.816 10c.271 0 .56.025.856.087c1.64.334 2.328 1.933 1.328 3.927l-1 1.993c-.5.998-.472 1.632.106 2.035c.181.126.433.169.692.169c.577 0 1.2-.212 1.2-.212S12.865 19 11.184 19'/%3E%3C/svg%3E");
  }
}

.icon-info:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230d6efd' d='m14.234 16.014l.554-1.104c.808-1.61.897-3.228.253-4.552a3.93 3.93 0 0 0-.443-.693A4.005 4.005 0 0 0 17 6.001c0-2.206-1.794-4-4-4s-4 1.794-4 4c0 .783.234 1.508.624 2.126c-1.696.33-2.806 1.248-2.947 1.375a1.997 1.997 0 0 0 1.089 3.484l-.554 1.104c-.808 1.61-.897 3.228-.254 4.552c.565 1.164 1.621 1.955 2.972 2.229c.413.084.836.127 1.254.127c2.368 0 3.965-1.347 4.14-1.501a1.996 1.996 0 0 0-1.09-3.483M13 4.001a2 2 0 1 1-.001 4.001A2 2 0 0 1 13 4.001M11.184 19c-.271 0-.559-.025-.854-.087c-1.642-.334-2.328-1.933-1.328-3.927l1-1.995c.5-.996.47-1.63-.108-2.035c-.181-.125-.431-.169-.689-.169c-.577 0-1.201.214-1.201.214S9.137 10 10.816 10c.271 0 .56.025.856.087c1.64.334 2.328 1.933 1.328 3.927l-1 1.993c-.5.998-.472 1.632.106 2.035c.181.126.433.169.692.169c.577 0 1.2-.212 1.2-.212S12.865 19 11.184 19'/%3E%3C/svg%3E");
}
